
.background{
    background-image: url(/images/background/speaker.jpg);
    background-size: contain;
}
.main{
height: 100vh;
}
.main_wrapper{
border: solid greenyellow;
    width: 80%;
    margin: 0 auto;
}
.main_top{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
}
.main_top_header{
    color: white;

}
.main_top_image--hifi_logo{
    height: 9rem;
    width: auto;
}

.main_bottom_container-white{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
height: auto;
width: 100%;
}

.main_bottom_container-gradiant{
    background-color: black;
    width: 50%;
    padding: .5rem;
}
.main_bottom_container-width{

    width: 80%;
}

.logo{
    height: 1rem;
    width: auto;
    margin: .25rem;
}
