@font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 500;
    src: local('Museo Sans Rounded 500'), url('/museo-sans-rounded-webfont/MuseoSansRounded500.woff') format('woff');
    }
    
@font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 500;
    src: local('Museo Sans Rounded 500'), url('/museo-sans-rounded-webfont/MuseoSansRounded500.woff') format('woff');
    }

@font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 500;
    src: local('Museo Sans Rounded 500'), url('/museo-sans-rounded-webfont/MuseoSansRounded500.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 100;
    src: local('Museo Sans Rounded 100'), url('/museo-sans-rounded-webfont/MuseoSansRounded100.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 300;
    src: local('Museo Sans Rounded 300'), url('/museo-sans-rounded-webfont/MuseoSansRounded300.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 700;
    src: local('Museo Sans Rounded 700'), url('/museo-sans-rounded-webfont/MuseoSansRounded700.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 900;
    src: local('Museo Sans Rounded 900'), url('/museo-sans-rounded-webfont/MuseoSansRounded900.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Museo Sans Rounded';
    font-style: normal;
    font-weight: 1000;
    src: local('Museo Sans Rounded 1000'), url('/museo-sans-rounded-webfont/MuseoSansRounded1000.woff') format('woff');
    }