                                                                                                       
/*-------------------footer------------*/

.footer_info{
    display: flex;
   background-color:  var(--gold-colour); 
   gap: 2em;
   padding-top: 1em;
   padding-bottom: 1em;
}
.footer_address{
    margin-left: 3em;
    font-size: x-small;
}

.footer_link a{
    color: var( --white-colour);

}
.first_link{
    border-right: 2px solid white;
    padding-right: 0.5em;
    
}

.footer_icons, .footer_icons2{
    display: flex;
    width: 1.5em;
margin-left: 27em;
gap: 0.7em;
}
