.hero{
    background-image: url('/images/background/speaker.jpg');
    height: 750px;
    object-fit: cover;
}

.wavy_lines{
    background-image: url('/images/background/wavy_lines.jpg');
    min-height: 500px;
    display: grid;
    align-items: center;
}
a, .fa-cart-shopping, .fa-user{
    color: aliceblue;
}


.wavy_lines_title{
 margin: 0 auto;

font-size: 43px;

}
.main_top_image--hifi_logo{
    display: grid;
    margin: 0 auto;
    width: 250px;
    align-self: center;
    margin-top: 50px;
}
/* slider */
.gallery-grid, .slider-grid{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    }
    
    .gallery-grid{
       max-width: 98.9vw;
        grid-template-columns: repeat(3, 1fr);
        padding: 7em 0 3.5em;
    }
    
    .slider-grid{
        grid-column: 2/3;
        grid-template-columns: repeat(1, auto);
    }
    .slider{
        width: 98.9vw;
        grid-area: 1/1/2/-1;
        overflow: hidden;
        order: 1;
       height: 750px;
    
    }
    .slider img{
        /* object-fit: cover; */
        width: 80%;
          height: 100%;  
        margin: 0 auto;
    }
    .slide{
        display: none;
        
    }
    .slide--active{
        display: block;
        order: 2;
       
    }
    .caption{
        font-size: 20px;
        line-height: 1.6;
        align-self: end;
        width: 14.6em;
        grid-column: 3/4;
    }
    
    #next,#back{
        grid-area: 1/1/2/-1;
        font-size: 4.5em;
        margin: 0.5em;
        cursor: pointer;
        color: #eba101;
        order: 3;
    }
    
    #next{
        justify-self: end;
    }
    
    #back{
        justify-self: start;
    }
   
    .fa-chevron-right,.fa-chevron-left{
        margin-top: 150px;
    }

    .sociale-medier{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    }
    .sociale-medier-div{
        width: 100%;
        display: grid;
        

    }
 .sociale-medier-div img{
   width:100% ; 
 }
 .buttons{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    margin: 0 auto;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    
 }
 
 .shop-around{
    background-color: rgb(29, 28, 28);
 }

.buttons div{
    width: 100%;
    text-align: center;
}
.buttons div p{
color: white;
min-width: 250px;
}
.buttons div button{
    width: fit-content;
    background-color: var(--opacity_black);
    color: var(--primary_hihglight);
    margin-bottom: 10px;
}
