

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
}

footer{
    background-color: rgb(131, 113, 7);
    display: flex;
    justify-content: space-between;
    padding: 2% 30px 2% 30px
}
.footer-left{
    display: flex;
    gap: 2em;
}
.footer-left-adress{
    font-weight: 700;
    font-size: 0.9em;
}
.footer-left-refund{
    color: white;
    text-decoration: underline solid 1px;

}
.footer-right{
    display: flex;
}
