
.homepage-speaker{
   background-image: url("../homepagespeaker.jpg");
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}

.frontpage-header{
    background-color: rgba(0, 0, 0, 0.362);
    width: 100%;
    position: absolute;
    top: 0px;

}
.frontpage-header a{
    color: white;
}
.frontpage-nav{
    background-color: black;
    position: absolute;
    top: 29px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.frontpage-nav a{
    margin: 5px;
    color: #d7d7d7;
    text-decoration: none;
}
.frontpage-nav a:hover{
    color: #9d7a40;
}

.header-icons{
    width: 25px;
    height: auto;
    color: white;
    margin-left: 40px;
}
.icon-link{
    display: flex;
    justify-content: right;
}
.wavylines-box{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.wavyimage{
width: 100%;
overflow: hidden;
}
.white-text{
    position: absolute;
    font-size: 42px;
    width: 750px;
    text-transform: capitalize;
    text-align: center;
}

.prev .next{
    
}
