
shop-background {
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0; /* Remove margin */
    padding-inline: 20rem;
    padding-block: 5rem;
}
.item {
    text-align: center;
    position: relative;
}
.item img {
    width: 100%;
    height: auto;
    display: block; /* Remove space under images */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    text-align: center;
    vertical-align: bottom;
}

body .container a {
    color: white;
    bottom: 6rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
   left: 2rem;
    
}

.shop-now{
    background-color: #685225; 
    width: 10rem; 
    border: none;
    width: 7rem;
    height: 2rem;

}
.shop-nov {
    text-align: center;
    margin-top: 2px;
    background-color: #a39161;
    padding-block: 5rem;
    color: white;  
}