
body {
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0; /* Remove margin */
    padding-inline: 20rem;
    padding-block: 5rem;
}
.item {
}
.item img {
    width: 100%;
    height: auto;
    display: block; /* Remove space under images */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.shop-now {
    text-align: center;
    margin-top: 20px;
    background-color: #a39161;
    padding: 10px;
    color: white;
    border-radius: 5px;
}