/*Her kommer alt styling til navmenu på alle sider*/



body{
    
}
nav {

    background-color: black;
  margin-top: 40px;
  height: 50px;
  
  
   
  
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  
  }
  nav li{
 font-size: 11px;
    text-align: center;
    margin-top: 10px;
  }
  
  
  
  a {
    text-decoration: none;
    color: white;
  
  
  }
  .golden_li{
    color: gold;
  }

