
.background-color{
    background-color: white;
}
.adbanner{
    max-width: 100%;
    filter:sepia(0.5) 
}
.product-left-right-container{
    display: flex;
    height: 40em;
}

.product-details-left, .product-details-right{
    width: 50%;
}

.details-productbox{
    height: 30rem;   
    border: #f2f2f2 0.5px solid;
    background-color: white;
    width: 97%;
    margin-inline: 10px;
}
.details-productbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.goldentext{
    color: var(--primary-color);
}
/*------buttons--------*/

.product-detail-buttons{
    display: flex;
   justify-content: left;
   border: #f2f2f2 0.5px solid;

}
.add-to-cart-button{
    background-color: var(--primary-color);
    border: none;
    color: white;
    margin-left: 10px;
    padding-inline: 20px;
    text-transform: uppercase;
}
.paypal-button{
    display: flex;
    background-color: #ffc439;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 120px;
    padding-inline: 3px;
    border-radius: 20px;
    border: none;
    justify-content: space-evenly;
    margin-inline: 108px;
    font-weight: 500;
    font-size: 11px;
    box-shadow: 3px;
}
.paypal-button img{
    height: auto;
    width: 45px;
}
.details-button{
    margin-right: 2px;
    background-color: var( --primary-color);
    height: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Museo Sans Rounded';
    font-size: 10px;
    padding-inline: 5px;
}

/*-----quantity container------*/
.quantity-box{
    border: solid 0.5px;
    width: 97%;
}
.quantity-aligntext{
    width: 335px;
    text-align: center;
}
.quantity-aligntext:last-of-type{
    margin-top: 5px;
    font-size: 10px;
}

.Upper-addtocart-box{
    display: flex;
    margin-top: 20px;
    text-align: center;
    margin-inline: 10px;
}
.Upper-addtocart-box p{
    align-self: center;
    margin-right: 10px;
}
.Upper-addtocart-box input{
    padding: 5px;
    width: 45px;
}

/*------Table------*/
.info-table, .table-field-left, .table-field-right {
    border: 1px solid black;
    border-collapse: collapse;
}
.table-field-left{
    background-color: #e1e1e1;
    text-transform: uppercase;
    font-family: 'Museo Sans Rounded';
    padding-inline: 20px ;
    font-weight: 500;
}
.table-field-right{
    width: 76%;
    padding: 10px;
}
