
.aside-overskrift {
    padding-inline: 1.5rem; 
    color: red;
    padding-block:2rem ;
}

.a-list {
    text-decoration: none;
    padding: 13px;
    display: block;
    color: var(--primary-color);
    background-color: #e1e1e1;
    padding-inline: 2rem;
}

.left-box-1 {
    width: 22rem;
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    background-color: #e1e1e1;
    padding-inline: 2rem;
}

.left-box-2{
    margin-top: 5rem;
    width: 22rem;
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    background-color: #e1e1e1;
    padding-inline: 2rem;
}
