body {
    background-color: var(--black-colour);
    font-family: 'Museo Sans Rounded 500';
}

img {
    display: block;
    width: 234px;
    height: 234px;
}


.link-to-shoplist{
    display: flex;
    position: absolute;
    width: 234px;
    height: 234px;
    font-size: 20px;
    color: var(--white-colour);
    padding: 25px;
    margin-left: 20px;
}

.grid-item {
    display: grid;
    margin: 0 auto;
    width: 234px;
    height: 234px;
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 16fr);
    width: 821px;
    height: 821px;
}



.grid-container section:last-of-type {
    background-color: var(--gold-colour);
    width: 234px;
    height: 234px;
}

#shop-frontpage-button {
    display: flex;
    margin: 0 auto;
    margin-top: 90px;
    width: 162px;
    height: 54px;
    background-color: var(--brown-color);
    outline: none;
    border: none;
    text-decoration: none;
}

#shop-frontpage-button span {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    color: var(--white-colour);
    font-size: 20px;
    font-weight: bold;
}