:root{
    --primary_hihglight: #a39161;
    --secondary_higtlight: #a27e2f;
    
    --primary_gray: #e1e1e1;

    --blue: #1697f1;
    --yellow: #ffc439;
    --red: #ff0000;

    --opacity_black: #00000084;
}