:root{
    --blue-colour: #1697f1;
    --black-colour: #000000;
    --gold-colour: #9b8d67;
    --white-colour: #ffffff;
    --pink-colour: #c0ab9f;
    --grey-colour: #e1e1e1;
    --dark-grey-colour: #c6c6c6;
    --yellow-colour: #ffc439;
    --brown-colour: #685225;
    --common-font: "Museo Sans Rounded 500";
}