
img{
    display: block;
    width: 234px;
    height: 234px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 16fr);
    width: 821px;
    height: 821px;
}

.shop-now{
    background-color: #9b8d67;
    width: 234px;
    height: 234px;
}

#shop-frontpage-button{
    display: grid;
    margin: 0 auto;
    align-items: center;
}