@import url(/assets/fonts/museo-sans-rounded-webfont/style.css);
@import url(/assets/css/nav-footer.css);

:root{
    --primary-yellow : #b69a6a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
}



/* ---------------------------------------------------nav-------------------------------------------------- */

#top-navigation {
    background-color: black;
}

h2{
    color: white;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: 80px;
}

.top-logobox{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.logo{
    margin-right: 100px;
    margin-top: 20px;
}





/* -------------------------------------------------------main-------------------------------------------- */
body{ 
    background-color: black;
    background-image: url(/Assets/img/brand/greenbackground.jpg);
    z-index: -1;
    background-size: cover;
}

.brand-box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-left: 130px;
    margin-right: 130px;
    padding: 20px;
    margin-top: 50px;
}

.brand-text{
    color: var(--primary-yellow);
    margin-top: 25px;
    margin-left: 30px;
    font-size: 15px;
   
}

.top-box{
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(56, 56, 56));
    width: 50%;
    height: 370px;
}

.bottom-box{
    background-image: url(/Assets/img/brand/speaker.jpeg);
    width: 50%;
}

h3{
    color: var(--primary-yellow);
    font-size: 23px;
    font-weight: lighter;
    margin-top: 25px;
    margin-left: 30px;
}

.bottom-box-text{
    color: white;
    margin: 20px;
    font-size: 13px;
}

.go-to-shop{
    color: var(--primary-yellow);
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.brand-logo {
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(56, 56, 56));
}


.logo-image {
    width: 100%;
    max-width: 80px;
    height: auto; 
    
}


/*------------------------------------------------ footer -----------------------------------------------*/


.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    background-color: #b69a6a;
    padding: 20px;
}

.footer-content {
    display: flex;
    gap: 2rem;
}

.footer-address pre {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-links a {
    color: #fff; /* Link color */
    font-weight: bold;
}

.footer-links span {
    color: #fff;
    margin: 0 10px;
}

.footer-payment {
    display: flex;
    align-items: center; /* Center payment logos */
    justify-content: center; /* Center all icons */
    gap: 15px; /* Space between payment icons */
}

.footer-payment img {
    margin-left: 10px; /* Space between payment logos */
    height: 30px; /* Set a uniform height for logos */
}

.footer-payment i {
    font-size: 25px; /* Adjust icon size */
    color: #fff; /* Icon color */
}

.footer-info {
    display: flex;
    gap: 3rem;
}

/* Social Media Icons */
.social-media-icons {
    display: flex;
    gap: 5px;
}

.social-media-icons i {
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
    height: 20px;
    width: 20px;
    border: 1px solid #f7f7f7;
}
