@import url(style.css);
@import url(/museo-sans-rounded-webfont/fonts.css);

body {
    font-family: 'Museo Sans Rounded', sans-serif;
}

.topnav .cart{
    color: #958153;
}

.topnav_right_icon_text{
    font-size: 12px;
}

.cart_container {
    max-width: 1200px;
    margin: 2em auto;
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.cart_items {
    margin-bottom: 2rem;
}

.cart_summary {
    padding: 1.5rem;
    border-radius: 5px;
}

h2 {
    margin-bottom: 1rem;
}

.subtotal, .shipping, .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.total {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.checkout_btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #958153;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.checkout_btn:hover {
    scale: 1.02;
    transition-duration: 600ms;
    background-color: #a89774;
}


.customer_info {
    margin-bottom: 2rem;
    border-radius: 5px;
}

.customer_info h2 {
    margin-bottom: 1.5rem;
}

.form_group {
    margin-bottom: 1rem;
}

.form_group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form_group input {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1rem;
}
.form_group input:hover {
    scale: 1.01;
    transition-duration: 600ms;
    border-color: #a49372;
}

.form_group input:focus {
    outline: none;
    border-color: #a49372;
}
.cartProduct{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.cartProduct img{
    width: 300px;
}
.cartProduct input{
    height: 40px;
    align-self: center;
}

